<!DOCTYPE html>
<!
* Sign-up page part 2 for Green Bois profiles
* Created in PhpStorm.
* implements Bootstrap
* @author Brian Kiehn
* @version 2.0
* @date 4/20/2019
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom Stylesheet-->
    <link rel="stylesheet" href="styles/frog.css">

    <title>Title</title>
</head>
<body>
    <h1>Profile</h1>
    <section class ="container-fluid">
        <form>
            <div class ="row">
                <div class ="col">
                    <label>Email:<input type ="text"></label><br>
                    <label>State<input type ="text"></label>
                </div>
                <div class ="col">
                    <label>Biography<br><textarea rows="10" cols="60"></textarea></label>
                </div>
            </div>
        </form>
    </section>
</body>
</html>