<!DOCTYPE html>
<!
* Sign-up page part 3 for Green Bois profiles
* Created in PhpStorm.
* implements Bootstrap
* @author Brian Kiehn
* @version 2.0
* @date 5/5/2019
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom Stylesheet-->
    <link rel="stylesheet" href="styles/frog.css">

    <title>Personal Information</title>
</head>
<body>
<h1>Profile</h1>
    <section class="container-fluid">
        <form action ="profile">
            <div class ="row">
                <div class="col-12">
                    <p>In-door Interests</p>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="tv" value ="tv">tv</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="pz" value ="puzzles">puzzles</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="mi" value ="movies">movies</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="rd" value ="reading">reading</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="ck" value ="cooking">cooking</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="pc" value ="playing cards">playing cards</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="bg" value ="board games">board games</label>
                </div>
                <div class="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="vg" value ="video games">video games</label>
                </div>
            </div>

            <div class ="row border">
                <div class ="col-12">
                    <p>Out-door Interests</p>
                </div>
                <div class ="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="sw" value ="swimming">swimming</label>
                </div>
                <div class ="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="hp" value ="hopping">hopping</label>
                </div>
                <div class ="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="sg" value ="singing">singing</label>
                </div>
                <div class ="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="fl" value ="floating">floating</label>
                </div>
                <div class ="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="cl" value ="collecting">collecting</label>
                </div>
                <div class ="col-3">
                    <label><input type ="checkbox" name = hobbies[] id="cr" value ="croaking">croaking</label>
                </div>
            </div>
            <div class ="row">
                <button type ="submit">Next</button>
                <button type ="reset">Reset</button>
            </div>
        </form>
    </section>
</body>
</html>