<!DOCTYPE html>
<!
* Dating site for gay frogs
* Created in PhpStorm.
* @author Brian Kiehn
* @version 1.0
* @date 4/12/2019
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Bois</title>
</head>
<body>
    <header>
        <p>GREEN BOIS</p>
    </header>
    <section>
        <div>
            <h1>Welcome to Green Bois!</h1>
            <p>Welcome to the first and only dating site for gay frogs!
                Here at <em>Green Bois</em>, we believe that it hard enough
                finding the love of your life hard enough when your a frog and also gay.
                That is why our mission is to assist in your hopping towards happiness.
                We match users based on special interests and location.
            </p>
        </div>
        <div>
            <h1>Don't take our word for it. Take theirs!</h1>
        </div>
        <div>
            <button>Create a Profile!</button>
        </div>
    </section>
    <section>
        <img src="../images/GayFrogs.jpg" alt="Pride Frog"/>
    </section>
</body>
</html>